*, *::after, *::before {box-sizing: border-box;} 

/* Decçaração de variaveis para a paleta de cores  varaiavel no css cria atalhos para trocar as ores lembre de utilizar mais*/
:root {
    --cor-titulo: #4D4D4D;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/*  reset em alguns elementos desse projeto reset deixa ele sem padding ou margin */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
    list-style: none; /* removendo marcadores na lista ul*/       
} 

/* Importante para uso da medida relativa REM */
html { font-size: 16px; } 

body {
    font-family: "Noto Sans", sans-serif ;
    color: var(--cor-texto);
} 

img {max-width: 100%;}

a {text-decoration: none;} 

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800; /* ver o valor de negrito no google fonts*/
    font-size: 1.5rem; 
    
   

    /* Formatando link dentro do h1 */
    a { 
        background-color: var(--cor-escura);
        color:var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;           
    }
   
}

.topo {  
    /* Necessario para garantir que o topo fique sempre por cima de qualquer elemento */
    z-index: 5;
    
    position: sticky;
    top: 0;   
    background-color: var(--cor-clara); 


     /*Classe .limitado especifica para uso no cabeçalho/topo: alem das cpnfigurações gerais (width e margin). AQUI ela também tem altura e ajustes do flex.  */
    .limitador { 
        height: 12vh;   
        display: flex;
        justify-content: space-between;
        align-items: center;
           
    }       

}  

/* classe limitador de uso geral: Sempre terá largura de 95vw e margin auto não importando onde será aplicada. */
.limitador {
    width: 95vw;
    margin: auto;
    /* background-color: royalblue;  */

}

.titulo-menu a {
    color:  var(--cor-escura);
    font-size: 1.2rem;   
    padding: 1rem;
    display: inline-block;  /*ordena o espaçamento do menu a ficar em uma linha*/
}


.menu a:hover, .menu a:focus {
     background-color: var(--cor-intermediaria);
} 

/* Estilos para alista ul contida no menu nav */
.links-menu {
  /* Atenção! Neste ponto, fazemos com que  os links do menu iniciem escondidos (display:none;). Posteriormente, com a ajuda do CSS combinado com o JS, faremos os comandos necessarios para exibir/esconder de forma alternada. */   

   display: none; 
   
   a {
    color: var(--cor-escura);
    font-weight: bold;
    /* background-color: yellow; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   } 
}


.links-menu.aberto {   /* < precisa estar tudo junto  por que cria uma relação entre as classes*/  

    /* Ativamos o flex para anular o display:none (fazendop do links aparecerem) e ao mesmo tempo ter os recursos do flex.  */

   display: flex;   

   /* Mudamos a direção para coluna para voltar a exibir um link em cima do outro */
   flex-direction: column; 


   /* Usamos o position e coordenadas para ajustar a posição final e o tamanho que os links ocuparão na tela logo abaixo da palavra menu. */
   position: absolute;
   left: 0;
   right: 0; 


   background-color: var(--cor-clara);
      
} 

/* exercícios */ 



.destaque { 

 background-image: url(../imagens/fundo-destaque.jpg);
    height: 88vh; 
    background-attachment:fixed ; /* fixa o item*/
    position: sticky;        
    display: flex; 
    flex-direction: column;      
    justify-content: center;
    align-items: center;      
     
    h2, p {  
        color: var(--cor-clara);  
        text-align: center;

        /* aplicar animação */
        animation-name: animaDestaque; 
        animation-duration: .5s;
    } 

   h2 { font-size: clamp(3rem, 10vw, 7rem); }

   p { 
    font-size: clamp(1.5rem, 3vw, 3rem); 
    animation-delay: .5s;

    /* antes da animação: o elemento assume do primeiro key frame (ou seja, o from). Portanto assim, forçamos a iniciar com opaciti zero e escala menor que 30% */
    animation-fill-mode: backwards;
    }
   
}

/* Sobre a função clamp() função util para redimensionamento responsivo de acordo com criterios de tamanhos mínimos, ideal/ variavel/responsivoe maximo. uso mais comun é para texto responsivos, mas pode ser usada em qualquer propriedade que envolva tamanhos (width, height etc). 

clamp(
    tamanho minimo,
    tamanho ideial/variavel/responsivo,
    tamanho máximo

)*/

 /* 1) Criar a animação  */
@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: scale(0.3);
    }   
    to {
        opacity: 1;
        transform:scale(1) ;
    }    
    
} 




.front-end, .historia , .localizacao {
    text-align: center;
} 




article {

    h2 { 
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
    } 

    p {
        padding: 0.5rem 0;
         font-size: 1.2rem;
    } 

    address {
        font-style: normal;
        font-size: 1.2rem;
    }
} 

/* exercicio */

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed; 




    h2 {
        color: var(--cor-clara);
        text-shadow: 2px 2px 3px var(--cor-escura);
    } 

    iframe {                         
      max-width: 700px; 
      width: 100%;   
      /* padding: 20px; */
      margin-bottom: 2rem; 
    }
} 

.localizacao  { 

    iframe{  
        width: 100%; 
        border-top: 2rem;
    }
   
}

.rodape {
    background-color: var(--cor-escura);
    
    height: 30vh;
   
    display: flex;     
   justify-content: center;
   align-items: center; 
    

    p { 
        color: var(--cor-clara);
        text-align: center;
         font-weight: bold; 
    }
  
}  

/* Regras paras a s paginas internas (Produtos, servicos e contato) */
.conteudo-interno {
    background-color: var(--cor-intermediaria);
    padding: .5rem;
    border-radius: 8px; 

    h2 {
        padding-left:
         0;font-size: 1.8rem;   /* tirou o espaçamento do h2 produtos*/
    }   

    /* tabela abaixo */

    table {
    border-collapse: collapse; 
    border: solid 4px var(--cor-escura);  
    max-width: 600px;
    margin: auto;
    border-collapse: collapse;
    
   } 

   caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: .3rem;
   } 

   th,td {border: solid 1px var(--cor-escura);} 

   th {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: .5rem;
    } 

    td {padding: .4rem;} 


    td:nth-child(2) {text-align: center;} 

    td:last-child, th:last-child {
        text-align: right;
    } 

    tr:nth-child(even) {
       background-color: var(--cor-clara);
    }

}    

/* exercicio mini imagens/ pag servicos */   

.galeria  {  

    text-align: center;

   img {
    border-radius: 50%;  
    transform: scale(0.8) rotate(-10deg);
    box-shadow: var(--cor-escura) 0 0 30px; 
    transition: 1s ; 
     

    &:hover{ /* ou Fora .galeria img:hover {}*/
      transform: translateY(-10px) rotate(0);
    }
   }
   

}  

/* Media Queries: regras de uso condicional de acordo com o tamanho de tela necessacrio para ajustes no site. */

@media screen and (min-width: 600px) { 

    /* escondendo a palavra "menu" */
    .titulo-menu {display: none;} 

    /* Exibimos o links (lista de links) do menu */
    .links-menu {
        display: flex; 

        /* Forçamos cada item da lista a ter largura total e, com isso, redistribuir os espaços/alinhamentos. */
        li {width: 100%;}
    }  
 
    /* Ajustamos o tamanho do menu (nav) com um todo */
    .menu {  width: 60%;  }       
   

} 

@media screen and (min-width: 1000px) {
    html {font-size: 18px;}
    .limitador {max-width: 1000px;}
}                   

