*, *::after, *::before {box-sizing: border-box;} 

/* Decçaração de variaveis para a paleta de cores  varaiavel no css cria atalhos para trocar as ores lembre de utilizar mais*/
:root {
    --cor-titulo: #4D4D4D;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/*  reset em alguns elementos desse projeto reset deixa ele sem padding ou margin */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
    list-style: none; /* removendo marcadores na lista ul*/       
} 

/* Importante para uso da medida relativa REM */
html { font-size: 16px; } 

body {
    font-family: "Noto Sans", sans-serif ;
    color: var(--cor-texto);
} 

img {max-width: 100%;}

a {text-decoration: none;} 

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800; /* ver o valor de negrito no google fonts*/
    font-size: 1.5rem; 
    
   

    /* Formatando link dentro do h1 */
    a { 
        background-color: var(--cor-escura);
        color:var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;           
    }
   
}

.topo {
 
    height: 12vh;  /*provisorio 12vh*/
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

.titulo-menu a {
    color:  var(--cor-escura);
    font-size: 1.2rem;   
    padding: 1rem;
    display: inline-block;  /*ordena o espaçamento do menu a ficar em uma linha*/
}


.menu a:hover, .menu a:focus {
     background-color: var(--cor-intermediaria);
} 

/* Estilos para alista ul contida no menu nav */
.links-menu {
  /* Atenção! Neste ponto, fazemos com que  os links do menu iniciem escondidos (display:none;). Posteriormente, com a ajuda do CSS combinado com o JS, faremos os comandos necessarios para exibir/esconder de forma alternada. */   

   display: none; 
   
   a {
    color: var(--cor-escura);
    font-weight: bold;
    /* background-color: yellow; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   } 
}


.links-menu.aberto {   /* < precisa estar tudo junto  por que cria uma relação entre as classes*/  

    /* Ativamos o flex para anular o display:none (fazendop do links aparecerem) e ao mesmo tempo ter os recursos do flex.  */

   display: flex;   

   /* Mudamos a direção para coluna para voltar a exibir um link em cima do outro */
   flex-direction: column; 


   /* Usamos o position e coordenadas para ajustar a posição final e o tamanho que os links ocuparão na tela logo abaixo da palavra menu. */
   position: absolute;
   left: 0;
   right: 0; 


   background-color: var(--cor-clara);
      
} 

/* exercícios */ 

.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 88vh;
    position: sticky;
} 

.destaque {
   
    display: flex; 
    flex-direction: column;     
    align-items: center;    

    h2 {
        color: var(--cor-clara);
        margin-top: 180px;
    }

  
      
            

  
}


/* .imgfundo {position: relative;} */