*, *::after, *::before {box-sizing: border-box;} 

/* Decçaração de variaveis para a paleta de cores  varaiavel no css cria atalhos para trocar as ores lembre de utilizar mais*/
:root {
    --cor-titulo: #4D4D4D;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/*  reset em alguns elementos desse projeto reset deixa ele sem padding ou margin */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
    list-style: none; /* removendo marcadores na lista ul*/       
} 

/* Importante para uso da medida relativa REM */
html { font-size: 16px; } 

body {
    font-family: "Noto Sans", sans-serif ;
    color: var(--cor-texto);
} 

img {max-width: 100%;}

a {text-decoration: none;} 

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800; /* ver o valor de negrito no google fonts*/
    font-size: 1.5rem; 
    
   

    /* Formatando link dentro do h1 */
    a { 
        background-color: var(--cor-escura);
        color:var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;           
    }
   
}

.topo {
    background-color: yellow;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
